form {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 30px;
}

.introductionContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 10px;
  border: solid black;
}

.moduleContent {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite; 

  margin: 1px;
}
.moduleTitleContainer {
  display: flex;
  flex-direction: column;
}

.subSectionContent {
background-color: #ffc10753;



}
.btnContainerTemplate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.budgetInputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background-color: #9e9e9e6f;
}
.clickable-label:hover {
  cursor: pointer;
  color: antiquewhite;
}
.buttonAdd{
height:40px;
}
